body {
  background-color: lightblue;
}
https://github.com/Krupagani/MyFirstRepo.git
h1 {
  color: white;
  text-align: center;
}
ijxxxmxmx.kj.lkzc
kjdclkjdacldkjalk
;kjdc;duc;dsuc
;sakdjv;dsoiuvd:wq

p {
  font-family: verdana;
  font-size: 20px;
}
we ARE 
I have performing some changes code
